body {
    margin: auto;

    background-color: var(--color-background);
}

main {
    margin: auto;
}

nav {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50px;
    left: 0px;
    z-index: 2;
    width: 100%;
    text-align: center;
    background-color: aquamarine;
}





.hide {
    display: none;
}

.show {
    animation-name: show_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
}


@keyframes show_kf {
    0% {
        transform: translate(10vw);
    }

    100% {
        transform: translate(20vw);
    }
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px 0 15px;
}

#lock {
    background-image: url(svg/lock_ui.svg);
    background-repeat: no-repeat;
    width: 25px;
    height: 36px;
    cursor: pointer;
}

header p {
    font-size: 2rem;
    font-family: helvetica neue;
    font-weight: 300;
    color: var(--color-light);
}

/*---------------------------------------------------
1: Variables & Common styling
2: Layout / Grid
3: Form styling
4: Table styles
5: Page specific styles
---------------------------------------------------*/

/*---------------------------------------------------
1: Variables & Common styling
---------------------------------------------------*/
/*Variables*/
:root {
    /*
    --color-dark: #333;
    --color-light: #FEFEFE;
    --color-accent: #f90;
*/
    --color-background: #4E4150;
    /* var(--color-background)*/

    --color-light: #FFFFFF;
    /* var(--color-light)*/

    --color-darktext: #707070;
    /* var(--color-darktext)*/

}

/*Common styling classes*/
.rounded {
    border-radius: 5px;
}

/*---------------------------------------------------
2: Layout / Grid
---------------------------------------------------*/
/*Grid container*/
.container_login {


    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /*
    justify-items: center;
    max-width: 375px;
    margin: 0 auto;
    padding-top: 55px;
*/
}

#kealogo_forside {
    min-width: 100vw;
    text-align: center;
    margin-bottom: 40px;
}

#kealogo_forside img {
    width: 200px;

}



@media only screen and (max-width: 375px) {}

.afleveringerpage .container_login {
    justify-items: left;
}

/*Grid column items*/
/*
#kealogo_forside {
    background-image: url(svg/kea_logo.svg);
    width: 270px;
    height: 100px;

    background-repeat: no-repeat;

}
*/

.uni {
    width: 270px;
    grid-column-start: 2;
    grid-column-end: 3;
    padding-bottom: 40px;

}

.glemt_login {
    width: 270px;
    grid-column-start: 2;
    grid-column-end: 3;
    padding-bottom: 40px;

}

/*loginpage*/
.loginform {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

/*

.huskmig {
    grid-row-start: 3;
    grid-column-start: 4;
    grid-column-end: 3;
}
*/

.glemtpassword {
    grid-row-start: 10;
    grid-column-start: 1;
    grid-column-end: 5;
    margin-top: 82px;
    margin-right: 140px;
}

.glemtpassword a {
    color: white;
    text-decoration: none;

}


.changelanguage {
    grid-row-start: 10;
    grid-column-start: 1;
    grid-column-end: 5;
    margin-top: 82px;
    margin-left: 140px;
}

.changelanguage a {
    color: white;
    text-decoration: none;

}

.glemtpassword2 {
    grid-row-start: 10;
    grid-column-start: 1;
    grid-column-end: 5;
    margin-top: 173px;
    margin-right: 140px;
}

.glemtpassword2 a {
    color: white;
    text-decoration: none;

}

.changelanguage2 {
    grid-row-start: 10;
    grid-column-start: 1;
    grid-column-end: 5;
    margin-top: 173px;
    margin-left: 140px;
}

.changelanguage2 a {
    color: white;
    text-decoration: none;
}

/*loginpage grid*/
.formgroup {
    display: grid;
    grid-template-columns: 1fr 270px;

}

.formgroup label {
    grid-column-start: 1;

}

.formgroup input {
    grid-column-start: 2;
    border-radius: 7px;
}

.formgroup,
    {
    margin-bottom: 1em;
}


input[type=submit] {
    margin-top: 1em;
}

#kode {
    margin-top: -24px;
}

/*afleveringer page*/
.afleveringer {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: end;
}

/*---------------------------------------------------
3: Form styling
---------------------------------------------------*/
/*Inputs*/
label,
input[type=text],
input[type=email],
input[type=password],
input[type=submit]

/*Giver dem alle nedenstående regel */
    {
    padding: 1.2em;
    border: none;
    margin-bottom: 10px;
}

input[type=text],
input[type=password] {
    font-size: 1rem;
}

input[type=submit] {
    padding: 0.6em;
    background-color: #F7A39B;
    color: white;
}

input[value] {
    font-size: 1.5rem;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
    border: 3px solid black;
    outline: -webkit-focus-ring-color auto 0;
}

input[type=submit] {
    background-color: #F7A39B;
    color: white;
    transition: background-color 1s, color 1s;
}

input[type=submit]:hover {
    color: #F7A39B;
    background-color: white;
}


/*---------------------------------------------------
4: Table styles
---------------------------------------------------*/
table {
    table-layout: fixed;
    width: 100%;
}

th {
    background-color: darkgray;
    color: lightgray;
}

td {
    border: 2px solid lightblue;
    background-color: aliceblue;
    padding: 2px;
    text-align: center;
}

/*---------------------------------------------------
5: Page specific styles
---------------------------------------------------*/
/*Login page*/
.loginpage {
    background-color: var(--color-background);
}

/*



/*------------- glemt adgangskode -------------*/

/*------------- dashboard -------------*/


#dashboard {

    position: absolute;
    top: 180px;
    left: 38px;

}

@media only screen and (max-width: 320px) {


    #dashboard {

        position: absolute;
        top: 180px;
        left: 38px;

    }

}

/*header{

    display: flex;


    justify-content: space-between;

    padding: 3vw 1vw 3vw 3vw;

}
*/

#logo_linje {

    display: flex;

    justify-content: center;

    padding-top: 5vw;


}


#logo {


    position: absolute;
    background-image: url(svg/kea_logo.svg);
    background-repeat: no-repeat;
    width: 60vw;
    height: 30vw;
    top: 70px;
    left: 70px
}


#linje_1 {
    display: flex;

    /*    justify-content: center;*/

}

#skema_ikon {



    background-image: url(svg/skema_logo.svg);
    background-repeat: no-repeat;

    width: 30vw;
    height: 30vw;

    margin: 3vw 5vw 5vw 5vw;


}

#skema_ikon p {
    font-family: 'Helvetica Neue', sans-serif;

    font-weight: bold;


    text-align: center;
    padding-top: 25vw;
    color: white;

}


#materiale_ikon {

    background-image: url(svg/materiale_logo.svg);
    background-repeat: no-repeat;

    width: 30vw;
    height: 30vw;

    margin: 3vw 5vw 5vw 5vw;


}


#materiale_ikon p {
    font-family: 'Helvetica Neue', sans-serif;

    font-weight: bold;


    text-align: center;
    padding-top: 25vw;
    color: white;

}


#linje_2 {
    display: flex;

    justify-content: center;

}

#aflevering_ikon {



    background-image: url(svg/aflevering_logo.svg);
    background-repeat: no-repeat;

    width: 30vw;
    height: 30vw;

    margin: 3vw 5vw 5vw 5vw;


}

#aflevering_ikon p {
    font-family: 'Helvetica Neue', sans-serif;

    font-weight: bold;


    text-align: center;
    padding-top: 25vw;
    color: white;

}

#portfolio_ikon {

    background-image: url(svg/portfolio_logo.svg);
    background-repeat: no-repeat;

    width: 30vw;
    height: 30vw;

    margin: 3vw 5vw 5vw 5vw;


}

#portfolio_ikon p {
    font-family: 'Helvetica Neue', sans-serif;

    font-weight: bold;


    text-align: center;
    padding-top: 25vw;
    color: white;

}


#linje_3 {
    display: flex;

    justify-content: center;

}

#aktuelt_ikon {



    background-image: url(svg/aktuelt_logo.svg);
    background-repeat: no-repeat;

    width: 30vw;
    height: 30vw;

    margin: 3vw 5vw 5vw 5vw;


}

#aktuelt_ikon p {
    font-family: 'Helvetica Neue', sans-serif;

    font-weight: bold;


    text-align: center;
    padding-top: 25vw;
    color: white;

}


#chat_ikon {

    background-image: url(svg/chat_logo.svg);
    background-repeat: no-repeat;

    width: 30vw;
    height: 30vw;

    margin: 3vw 5vw 5vw 5vw;


}


#chat_ikon p {
    font-family: 'Helvetica Neue', sans-serif;

    font-weight: bold;


    text-align: center;
    padding-top: 25vw;
    color: white;

}


/*------------- skema -------------*/
/*
skema {

    grid-row-start: 2;
    grid-column-start: 3;
    grid-column-end: 3;
}
*/

.container_skema {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 0 auto;
    padding-top: 37px;
}

@media only screen and (max-width: 375px) {
    .container_login {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        margin: 0 auto;
        padding-top: 55px;

    }
}

#skift_uge {
    grid-column-start: 2;
    grid-column-end: 2;

}

header p {
    font-family: 'Helvetica Neue', sans-serif;

    font-weight: bold;

    margin: 0;

    color: white;

}

#pil {
    position: absolute;
    left: 37vw;
    top: 20vw;
}

#pil img {
    width: 100px;
    height: 20px;


}


.skema {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 2;
}


#skema p {

    font-family: 'Helvetica Neue', sans-serif;

    font-weight: bold;

    margin: 0;



    text-align: center;

    color: white;

}


#elementer {

    /*
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 1fr 270px;
*/

}


#lektion_1 {

    background-color: #ffd0c9;
    padding: 1.2em;
    border-radius: 7px;

    margin-bottom: 1em;

}


a {
    text-decoration: none;
}

.lektion {

    background-color: #ffd0c9;
    padding: 1.3em;

    border-radius: 7px;
    margin-bottom: 1em;


}

.lektion h2 {

    font-family: 'Helvetica Neue', sans-serif;

    font-weight: bold;

    margin: 0;
    font-size: 0.8rem;


    position: relative;
    top: -3vw;
    text-align: left;


    color: white;

}

.lektion h3 {

    font-family: 'Helvetica Neue', sans-serif;

    margin: 0;
    font-size: 0.8rem;

    position: relative;
    top: -3vw;

    text-align: left;

    color: #707070;

}

#lektion_1 h4 {

    font-family: 'Helvetica Neue', sans-serif;

    margin: 0;
    font-size: 1.3rem;
    position: absolute;
    top: 55vw;
    left: 26vw;

    text-align: left;

    color: #707070;

}

#lektion_2 h4 {

    font-family: 'Helvetica Neue', sans-serif;

    margin: 0;
    font-size: 1.3rem;
    position: absolute;
    top: 78vw;
    left: 26vw;

    text-align: left;

    color: #707070;

}


#gruppearbejde h4 {

    font-family: 'Helvetica Neue', sans-serif;

    margin: 0;
    font-size: 1.3rem;
    position: absolute;
    top: 101vw;
    left: 26vw;

    text-align: left;

    color: #707070;

}

#afleveringer h4 {

    font-family: 'Helvetica Neue', sans-serif;

    margin: 0;
    font-size: 1.3rem;
    position: absolute;
    top: 124vw;
    left: 26vw;

    text-align: left;

    color: #707070;

}

#skift_uge h1 {

    font-family: 'Helvetica Neue', sans-serif;

    margin: 0;
    font-size: 1.3rem;
    padding: 15px;
    padding-bottom: 30px;
    text-align: left;

    color: white;

}

#gruppearbejde {


    background-color: #d4d4d4;

}

#afleveringer {


    background-color: #f57b72;

}




/*------------- lektionsside -------------*/

.headline h1 {
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    margin: 10px auto;

    font-weight: normal;
    text-align: center;
}

#lektion {
    margin: auto 5%;
    width: 90vw;
    height: 20vw;
    border-radius: 7px;
    background-color: #FBCFC9;
}

#lektion_beskrivelse {
    margin: 0 13px;
    padding: 10px;
}

#lektion_beskrivelse h1 {
    color: white;
    font-size: 1rem;
    margin: -5px;
    font-family: 'Helvetica Neue', sans-serif;
}

#lektion_beskrivelse h2 {
    font-size: 0.7rem;
    width: 20vw;
    font-weight: normal;
    color: var(--color-darktext);
    margin: 5px;
    font-family: 'Helvetica Neue', sans-serif;
}

#lektion_beskrivelse h3 {
    font-size: 1.7rem;
    width: 30vw;
    color: var(--color-darktext);
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
}


#teachers .text {
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    position: absolute;
    left: 10vw;
    top: 45vw;
    font-weight: normal;
    font-weight: 400;
}

#teachers .border {
    border-bottom: 2px white solid;
    position: absolute;
    height: 18vw;
    width: 80vw;
    top: 38vw;
    left: 10vw;
}

#profile1 {
    background-image: url("svg/person_ikon.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    width: 10vw;
    height: 10vw;


}

#profile1 p {
    margin-top: 11vw;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    font-family: 'helvetica neue', sans-serif;
}

#profile2 {
    background-image: url("svg/person_ikon.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    width: 10vw;
    height: 10vw;
    margin: auto;
}

#profile2 p {
    margin-top: 11vw;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    font-family: 'helvetica neue', sans-serif;
}

#profile3 {
    background-image: url("svg/person_ikon.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    width: 10vw;
    height: 10vw;
    margin: auto;
}

#profile3 p {
    margin-top: 11vw;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    font-family: 'helvetica neue', sans-serif;
}

#homework .text1 {
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    position: absolute;
    left: 10vw;
    top: 97vw;
}

#homework .border1 {
    border-bottom: 2px white solid;
    position: absolute;
    height: 18vw;
    width: 80vw;
    top: 90vw;
    left: 10vw;
    z-index: 1;
}

#homework .text2 {
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 0.9rem;
    position: absolute;
    left: 10vw;
    top: 110vw;
    font-weight: normal;
}

#homework .border2 {
    border-bottom: 2px white solid;
    position: absolute;
    height: 18vw;
    width: 80vw;
    top: 98vw;
    left: 10vw;
    z-index: 1;
}

#headline_document .text {
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    position: absolute;
    left: 10vw;
    top: 120vw;
    font-weight: normal;
}

#headline_document .border {
    border-bottom: 2px white solid;
    position: absolute;
    height: 18vw;
    width: 80vw;
    top: 115vw;
    left: 10vw;
    z-index: 1;
}

#documents p {
    color: #473145;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    padding-left: 25vw;
    position: absolute;
}

#documents {
    position: absolute;
    left: 11vw;
    top: 140vw;
    background-color: white;
    width: 78vw;
    height: 15vw;
    border-radius: 7px;
}

.grey_box {
    position: absolute;
    background-color: #D0CCCC;
    top: 140vw;
    left: 11vw;
    width: 21.4vw;
    height: 15vw;
    border-radius: 7px 0px 0px 7px;
    z-index: 1;
}

.grey_box img {
    width: 15vw;
    position: absolute;
    top: 2vw;
    left: 3vw;
}


/*------------- afleveringsside -------------*/
#container_afleveringsside {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

#headline {
    background-color: #FCD0CA;
    height: 30vw;
    width: 100%;
    padding: 2vw;
    margin: 30px -14px;
    position: absolute;

}

.headline_text {
    color: var(--color-darktext);
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.headline_time {

    position: absolute;
    top: 20vw;
    left: 8vw;
    background-color: #D1CDCD;
    height: 8vw;
    width: 77vw;
    border-radius: 15px;
    padding-right: 10px;
    padding-bottom: px;
}

.headline_time p {
    color: var(--color-darktext) font-size: 1rem;
    font-family: 'Helvetica Neue', sans-serif;
    position: absolute;
    left: 12vw;
    top: -2.2vw;
}

.headline_time img {
    position: absolute;
    width: 6vw;
    top: 1vw;
    left: 0.7vw;
}

.description p {
    color: white;
    font-size: 1.3rem;
    font-family: 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 55vw;
    left: 10vw;
}

.description .border {
    border-bottom: 2px white solid;
    position: absolute;
    height: 18vw;
    width: 80vw;
    top: 51vw;
    left: 8vw;
    z-index: 1;
}

.link {
    position: absolute;
    background-color: white;
    height: 18vw;
    width: 80vw;
    top: 75vw;
    left: 8vw;
    z-index: 1;
    border-radius: 7px;

}

.link p {
    color: var(--color-darktext);
    font-size: 1rem;
    font-family: 'Helvetica Neue', sans-serif;
    position: absolute;
    left: 25vw;
}

.link .box {
    position: absolute;
    background-color: #D0CCCC;
    height: 18vw;
    width: 20vw;
    z-index: 1;
    border-radius: 7px 0px 0px 7px
}

.upload {
    color: white;
    font-size: 1.3rem;
    font-family: 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 100vw;
    left: 10vw;
    z-index: 1;

}

.upload .border {
    border-bottom: 2px white solid;
    position: absolute;
    height: 18vw;
    width: 80vw;
    top: -2vw;
    z-index: 1;
}

.upload_document img {
    position: absolute;
    width: 6vw;
    top: 1vw;
    left: 1vw;
    z-index: 1;
}

.upload_document {
    position: absolute;
    top: 120vw;
    left: 9vw;
    background-color: white;
    height: 8vw;
    width: 77vw;
    border-radius: 15px;
    padding-right: 10px;
}

.upload_document p {
    color: var(--color-darktext);
    font-size: 1rem;
    font-family: 'Helvetica Neue', sans-serif;
    position: absolute;
    left: 12vw;
    top: -2.2vw;
}


/*------------- chatside -------------*/
/*
#header {

    display: flex;

    justify-content: space-between;

    padding: 2vw;


}

*/


#overskrift h1 {


    top: 2px;
    left: 124px;
    color: white;
    font-size: 1.5rem;
    font-family: 'helvetica neue', sans-serif;

}



#overskrift h2 {


    left: 160px;
    top: 50px;
    color: white;
    font-size: 1rem;
    font-family: 'helvetica neue', sans-serif;
    text-align: center;
}

#overskrift h3 {

    color: white;
    font-size: 1rem;
    font-family: 'helvetica neue', sans-serif;
    margin: 90px 15px;

}

h4 {

    position: absolute;
    left: 20px;
    top: 420px;
    color: white;
    font-size: 1rem;
    font-family: 'helvetica neue', sans-serif;


}


#search p {
    margin-top: -10px;
    color: grey;
    text-align: left;
    font-size: 1.65rem;
    font-weight: bold;
    font-family: 'helvetica neue', sans-serif;

}


#search {

    position: absolute;
    border-radius: 25px;
    background: var(--color-light);
    padding: 20px;
    width: 300px;
    height: 20px;
    top: 110px;
    left: 18px
}

/*

#padding {

    padding-top: 0px;
    padding-left: 20px;
}
*/


#lup {
    background-image: url("svg/loop.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    width: 35px;
    height: 35px;
    position: absolute;
    top: 122px;
    left: 300px;

}




#profiles {
    height: 667px;

}


#profile1 {
    background-image: url("svg/person_ikon.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    width: 55px;
    height: 55px;
    position: absolute;
    top: 218px;
    left: 20px;

}

#profile1 p {
    margin-top: 60px;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    font-family: 'helvetica neue', sans-serif;

}

#profile2 {
    background-image: url("svg/person_ikon.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    width: 55px;
    height: 55px;
    position: absolute;
    top: 218px;
    left: 90px;

}

#profile2 p {
    margin-top: 60px;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    font-family: 'helvetica neue', sans-serif;

}


#profile3 {
    background-image: url("svg/person_ikon.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    width: 55px;
    height: 55px;
    position: absolute;
    top: 218px;
    left: 160px;

}

#profile3 p {
    margin-top: 60px;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    font-family: 'helvetica neue', sans-serif;

}


#profile4 {
    background-image: url("svg/person_ikon.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    width: 55px;
    height: 55px;
    position: absolute;
    top: 218px;
    left: 230px;

}

#profile4 p {
    margin-top: 60px;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    font-family: 'helvetica neue', sans-serif;

}



#profile5 {
    background-image: url("svg/person_ikon.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    width: 55px;
    height: 55px;
    position: absolute;
    top: 218px;
    left: 300px;

}

#profile5 p {
    margin-top: 60px;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    font-family: 'helvetica neue', sans-serif;

}

#profile6 {
    background-image: url("svg/person_ikon.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    width: 55px;
    height: 55px;
    position: absolute;
    top: 318px;
    left: 20px;

}

#profile6 p {
    margin-top: 60px;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    font-family: 'helvetica neue', sans-serif;

}


#profile7 {
    background-image: url("svg/person_ikon.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    width: 55px;
    height: 55px;
    position: absolute;
    top: 318px;
    left: 90px;
}

#profile7 p {
    margin-top: 60px;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    font-family: 'helvetica neue', sans-serif;

}


#profile8 {
    background-image: url("svg/person_ikon.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    width: 55px;
    height: 55px;
    position: absolute;
    top: 318px;
    left: 160px;

}

#profile8 p {
    margin-top: 60px;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    font-family: 'helvetica neue', sans-serif;

}

#profile9 {
    background-image: url("svg/person_ikon.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    width: 55px;
    height: 55px;
    position: absolute;
    top: 318px;
    left: 230px;

}

#profile9 p {
    margin-top: 60px;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    font-family: 'helvetica neue', sans-serif;

}

#profile10 {
    background-image: url("svg/person_ikon.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    width: 55px;
    height: 55px;
    position: absolute;
    top: 318px;
    left: 300px;

}

#profile10 p {
    margin-top: 60px;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    font-family: 'helvetica neue', sans-serif;

}


#profile11 {
    background-image: url("svg/person_ikon.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    width: 55px;
    height: 55px;
    position: absolute;
    top: 468px;
    left: 20px;

}

#profile11 p {
    margin-top: 60px;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    font-family: 'helvetica neue', sans-serif;

}


#profile12 {
    background-image: url("svg/person_ikon.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    width: 55px;
    height: 55px;
    position: absolute;
    top: 468px;
    left: 90px;

}

#profile12 p {
    margin-top: 60px;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    font-family: 'helvetica neue', sans-serif;

}


#profile13 {
    background-image: url("svg/person_ikon.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    width: 55px;
    height: 55px;
    position: absolute;
    top: 468px;
    left: 160px;

}


#profile13 p {
    margin-top: 60px;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    font-family: 'helvetica neue', sans-serif;

}


#profile14 {
    background-image: url("svg/person_ikon.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    width: 55px;
    height: 55px;
    position: absolute;
    top: 468px;
    left: 230px;

}

#profile14 p {
    margin-top: 60px;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    font-family: 'helvetica neue', sans-serif;

}


#profile15 {
    background-image: url("svg/person_ikon.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    width: 55px;
    height: 55px;
    position: absolute;
    top: 468px;
    left: 300px;

}

#profile15 p {
    margin-top: 60px;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    font-family: 'helvetica neue', sans-serif;

}

#profile16 {
    background-image: url("svg/person_ikon.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    width: 55px;
    height: 55px;
    position: absolute;
    top: 568px;
    left: 20px;

}

#profile16 p {
    margin-top: 60px;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    font-family: 'helvetica neue', sans-serif;

}


#profile17 {
    background-image: url("svg/person_ikon.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    width: 55px;
    height: 55px;
    position: absolute;
    top: 568px;
    left: 90px;

}

#profile17 p {
    margin-top: 60px;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    font-family: 'helvetica neue', sans-serif;

}



#profile18 {
    background-image: url("svg/person_ikon.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    width: 55px;
    height: 55px;
    position: absolute;
    top: 568px;
    left: 160px;

}

#profile18 p {
    margin-top: 60px;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    font-family: 'helvetica neue', sans-serif;

}


#profile19 {
    background-image: url("svg/person_ikon.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    width: 55px;
    height: 55px;
    position: absolute;
    top: 568px;
    left: 230px;

}

#profile19 p {
    margin-top: 60px;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    font-family: 'helvetica neue', sans-serif;

}


#profile20 {
    background-image: url("svg/person_ikon.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    width: 55px;
    height: 55px;
    position: absolute;
    top: 568px;
    left: 300px;

}

#profile20 p {
    margin-top: 60px;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    font-family: 'helvetica neue', sans-serif;

}







/*------------- privatchat -------------*/

#pil2 {
    width: 30px;
    height: 30px;
    margin: -35px 90px auto;
}

#privat_chat {
    background-image: url(svg/online.svg);
    width: 45px;
    height: 45px;
    margin: 20px auto 0px;
}

#person {
    font-size: 1rem;
    font-family: helvetica neue;
    font-weight: 300;
    color: var(--color-light);
    width: 70px;
    height: 20px;
    text-align: center;
    margin: 0px auto 10px;
}

#chat {
    background-image: url(svg/chat_stor.svg);
    width: 300px;
    height: 385px;
    margin: auto;
}

#chat h1 {
    font-size: 0.8rem;
    font-family: helvetica neue;
    font-weight: 500;
    color: var(--color-darktext);
    text-align: center;
    position: absolute;
    top: 400px;
    left: 5%;
    right: 5%;
}

#skriv_besked {
    background-image: url(svg/chat_skrivbesked.svg);
    width: 310px;
    height: 67px;
    margin: 10px auto;
}

#skriv_besked p {
    font-size: 1rem;
    font-family: helvetica neue;
    font-weight: 100;
    color: var(--color-darktext);
    text-align: left;
    margin: 10px auto 0px 20px;
    position: absolute;
    font-style: italic;

}

#chat p1 {
    font-size: 0.8rem;
    font-family: helvetica neue;
    font-weight: 500;
    color: var(--color-darktext);
    margin: 8px 60px 0px;
    position: absolute;
    width: 180px;
}

#chat p2 {
    font-size: 0.8rem;
    font-family: helvetica neue;
    font-weight: 500;
    color: var(--color-darktext);
    margin: 78px 60px 0px;
    position: absolute;
    width: 180px;
}

#chat p3 {
    font-size: 0.8rem;
    font-family: helvetica neue;
    font-weight: 500;
    color: var(--color-darktext);
    margin: 161px 60px 0px;
    position: absolute;
    width: 180px;
}

#chat p4 {
    font-size: 0.8rem;
    font-family: helvetica neue;
    font-weight: 500;
    color: var(--color-darktext);
    margin: 293px 60px 0px;
    position: absolute;
    width: 180px;
}

/*------------- afleveringer -------------*/
.tema1 {
    position: absolute;
    left: 11vw;
    top: 48vw;
    width: 80vw;
    height: 24vw;
    border-radius: 7px;
    background-color: #FBCFC9;
}

.tema2 {
    position: absolute;
    left: 11vw;
    top: 80vw;
    width: 80vw;
    height: 24vw;
    border-radius: 7px;

    background-color: #FBCFC9;
}


.tema3 {
    position: absolute;
    left: 11vw;
    top: 112vw;
    width: 80vw;
    height: 24vw;
    border-radius: 7px;
    background-color: #FBCFC9;
}

.tema4 {
    position: absolute;
    left: 11vw;
    top: 144vw;
    width: 80vw;
    height: 24vw;
    border-radius: 7px;

    background-color: #FBCFC9;
}


.tekst1 h2 {

    position: absolute;
    top: 1px;
    left: 20px;
    color: var(--color-darktext);
    font-family: 'helvetica neue', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;

}

.tekst1 p {

    position: absolute;
    top: 40px;
    left: 20px;
    color: var(--color-darktext);
    font-family: 'helvetica neue', sans-serif;

    font-size: 1rem;

}


.tekst2 h2 {

    position: absolute;
    top: 1px;
    left: 20px;
    color: var(--color-darktext);
    font-family: 'helvetica neue', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;

}

.tekst2 p {

    position: absolute;
    top: 40px;
    left: 20px;
    color: var(--color-darktext);
    font-family: 'helvetica neue', sans-serif;
    font-size: 1rem;

}

.tekst3 h2 {

    position: absolute;
    top: 1px;
    left: 20px;
    color: var(--color-darktext);
    font-family: 'helvetica neue', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;

}

.tekst3 p {

    position: absolute;
    top: 40px;
    left: 20px;
    color: var(--color-darktext);
    font-family: 'helvetica neue', sans-serif;
    font-size: 1rem;

}

.tekst4 h2 {

    position: absolute;
    top: 1px;
    left: 20px;
    color: var(--color-darktext);
    font-family: 'helvetica neue', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;

}

.tekst4 p {

    position: absolute;
    top: 40px;
    left: 20px;
    color: var(--color-darktext);
    font-family: 'helvetica neue', sans-serif;
    font-size: 1rem;

}

.headline h2 {
    position: absolute;
    top: 110px;
    left: 124px;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-size: 1rem;
    font-weight: 450;


}


/*------------- opgavebeskrivelse -------------*/

.tema1_new {
    position: absolute;
    left: 11vw;
    top: 48vw;
    width: 80vw;
    height: 24vw;
    border-radius: 7px;
    background-color: #FBCFC9;
}

.tema2_new {
    position: absolute;
    left: 11vw;
    top: 80vw;
    width: 80vw;
    height: 24vw;
    border-radius: 7px;

    background-color: #FBCFC9;
}


.tema3_new {
    position: absolute;
    left: 11vw;
    top: 185vw;
    width: 80vw;
    height: 24vw;
    border-radius: 7px;
    background-color: #FBCFC9;
}

.tema4_new {
    position: absolute;
    left: 11vw;
    top: 217vw;
    width: 80vw;
    height: 24vw;
    border-radius: 7px;

    background-color: #FBCFC9;
}


#tema02_more {
    margin: auto;
    position: absolute;
    top: 22vw;
    left: 7vw;
}


#tema02_more p {
    font-size: 1rem;
    font-family: helvetica neue;
    font-weight: 300;
    color: var(--color-darktext);
    text-align: center;
    margin-bottom: auto;
    position: static;
}

#opg1 {
    width: 250px;
    height: 40px;
    margin: auto;
    border-radius: 10px;
    background-color: var(--color-light);
}

.opg1 {
    width: 70px;
    height: 40px;
    margin: auto;
    border-radius: 10px 0px 0px 10px;
    background-color: #CADBBF;
    margin: -18px 0px 0px;
}

.opg1 p {
    font-size: 1rem;
    font-family: helvetica neue;
    font-weight: 300;
    color: var(--color-darktext);
    text-align: center;
    margin: 0px;

}

.opg1_status {
    width: 30px;
    height: 30px;
    background-image: url(svg/godkendt.svg);
    margin: -35px 0px 0px 214px
}


#opg2 {
    width: 250px;
    height: 40px;
    margin: auto;
    border-radius: 10px;
    background-color: var(--color-light);
    margin-top: 10px;
}

.opg2 {
    width: 70px;
    height: 40px;
    margin: auto;
    border-radius: 10px 0px 0px 10px;
    background-color: #DD807A;
    margin: -18px 0px 0px;
}

.opg2 p {
    font-size: 1rem;
    font-family: helvetica neue;
    font-weight: 300;
    color: var(--color-darktext);
    text-align: center;
    margin: 0px;
}

.opg2_status {
    width: 22px;
    height: 22px;
    background-image: url(svg/kryds.svg);
    margin: -30px 0px 0px 217px
}

#opg3 {
    width: 250px;
    height: 40px;
    margin: auto;
    border-radius: 10px;
    background-color: var(--color-light);
    margin-top: 10px;
}

.opg3 {
    width: 70px;
    height: 40px;
    margin: auto;
    border-radius: 10px 0px 0px 10px;
    background-color: #D0CCCC;
    margin: -18px 0px 0px;
}

.opg3 p {
    font-size: 1rem;
    font-family: helvetica neue;
    font-weight: 300;
    color: var(--color-darktext);
    text-align: center;
    margin: 0px;
}

.opg3_status {
    width: 30px;
    height: 9.2px;
    background-image: url(svg/ingen_status.svg);
    margin: -25px 0px 0px 210px
}

#opg4 {
    width: 250px;
    height: 40px;
    margin: auto;
    border-radius: 10px;
    background-color: var(--color-light);
    margin-top: 10px;
}

.opg4 {
    width: 70px;
    height: 40px;
    margin: auto;
    border-radius: 10px 0px 0px 10px;
    background-color: #CADBBF;
    margin: -18px 0px 0px;
}

.opg4 p {
    font-size: 1rem;
    font-family: helvetica neue;
    font-weight: 300;
    color: var(--color-darktext);
    text-align: center;
    margin: 0px;
}

.opg4_status {
    width: 30px;
    height: 30px;
    background-image: url(svg/godkendt.svg);
    margin: -35px 0px 0px 214px
}

#opg5 {
    width: 250px;
    height: 40px;
    margin: auto;
    border-radius: 10px;
    background-color: var(--color-light);
    margin-top: 10px;
}

.opg5 {
    width: 70px;
    height: 40px;
    margin: auto;
    border-radius: 10px 0px 0px 10px;
    background-color: #CADBBF;
    margin: -18px 0px 0px;
}

.opg5 p {
    font-size: 1rem;
    font-family: helvetica neue;
    font-weight: 300;
    color: var(--color-darktext);
    text-align: center;
    margin: 0px;
}

.opg5_status {
    width: 30px;
    height: 30px;
    background-image: url(svg/godkendt.svg);
    margin: -35px 0px 0px 214px
}


/*------------- konkret opgave -------------*/

.back img {
    flex-basis: 100px;
    flex-grow: 1;

    position: absolute;
    background-repeat: no-repeat;
    width: 8vw;
    top: 90px;
    left: 30vw;
}

.date {
    flex-basis: 100px;
    flex-grow: 1;

    position: absolute;
    background-repeat: no-repeat;
    width: 20px;
    top: 75px;
    left: 45vw;

    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1.4rem;
    margin-right: 28vw;
    color: white;
}

#box_delivered p {
    color: #473145;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    padding-left: 25vw;
    position: absolute;
}

#box_delivered {
    position: absolute;
    left: 11vw;
    top: 40vw;
    background-color: white;
    width: 78vw;
    height: 15vw;
    border-radius: 7px;

}

.rod_box {
    position: absolute;
    background-color: #DD807A;
    top: 40vw;
    left: 11vw;
    width: 21.4vw;
    height: 15vw;
    border-radius: 7px 0px 0px 7px;
    z-index: 1;
}

#box_failed p {
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    color: var(--color-darktext);
    font-weight: bold;
    text-align: left;
    padding-left: 3vw;
}

#box_failed .image {
    position: absolute;
    top: 3vw;
    left: 65vw;
    width: 8vw;
    z-index: 1;
}

#box_failed {
    position: absolute;
    left: 11vw;
    top: 60vw;
    width: 78vw;
    height: 15vw;
    border-radius: 7px;

    background-color: #FBCFC9;
}

#box_big {
    position: absolute;
    left: 11vw;
    top: 90vw;
    background-color: #FBCFC9;
    width: 78vw;
    height: 80vw;
    border-radius: 7px;
}

#box_big .text {
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    color: var(--color-darktext);
    padding-left: 3vw;
}

#box_big .image {
    position: absolute;

    top: 4vw;
    left: 65vw;
    width: 10vw;
    z-index: 1;

}

/*------------- dropdown -------------*/
/*BURGERMENU*/

@media only screen and (max-width: 993px) {

    nav {
        display: none;
    }

        {
        box-sizing: content-box;
    }

}

@media only screen and (min-width: 994px) {

    .hidden-menu,
    .hidden-menu a,
    .hidden-menu a:hover,
    .hidden-menu-ticker,
    .btn-menu,
    .btn-menu span,
    .btn-menu span.first,
    .hidden-menu-ticker:checked ~ .hidden-menu,
    .hidden-menu-ticker:checked ~ .btn-menu span.first,
    .hidden-menu-ticker:checked ~ .btn-menu span.second,
    .hidden-menu-ticker:checked ~ .btn-menu span.third {
        display: none;
    }
}


.hidden-menu {
    display: flex;
    list-style: none;

    margin: auto;
    width: 100%;
    height: 100%;
    background-color: var(--color-background);

}

.move_menu {
    transform: translateX(18vw);
    width: 80vw;
}

.hidden-menu .kea_logo {
    width: 230px;
    margin: 5px;
    padding-top: 23px;
    padding-bottom: 43px;
    transform: translateX(-5vw);
}

.hidden-menu .logo {
    width: 45px;
    vertical-align: middle;

}

.hidden-menu .go_back a {
    font-size: 0.8rem;
    font-weight: normal;
    position: absolute;
    left: 45vw;
}

.hidden-menu a {
    text-decoration: none;
    text-transform: ;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 2;
    color: var(--color-light);
    padding: 0 25px;
    transition: .1s ease-out;
}

.hidden-menu a:hover {
    background-color: #59585d;
    color: #cccccc;
}

.hidden-menu-ticker {
    display: none;
}

.btn-menu {
    color: white;
    cursor: pointer;
    transition: .3s ease-out;
    z-index: 3;
    width: 35px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;

}

.btn-menu.show-menu {
    /*CSS*/
}

.btn-menu span {
    display: block;
    height: 3px;
    background-color: white;
    margin: 7px 0 0;
    transition: all .1s linear .23s;
    position: relative;
    width: 100%;
}

.btn-menu span.first {
    margin-top: 0;
}

.hidden-menu-ticker:checked ~ .btn-menu {
    left: 2px;
}

.hidden-menu-ticker:checked ~ .hidden-menu {
    left: 0;
}

.hidden-menu-ticker:checked ~ .btn-menu span.first {
    -webkit-transform: rotate(45deg);
    top: 10px;
}

.hidden-menu-ticker:checked ~ .btn-menu span.second {
    opacity: 0;

}

.hidden-menu-ticker:checked ~ .btn-menu span.third {
    -webkit-transform: rotate(-45deg);
    top: -10px;
}

/*BURGERMENU SLUT*/

@media only screen and (max-width: 320px) {
    #box_big .text {
        color: white;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 1rem;
        color: var(--color-darktext);
        padding-left: 3vw;
    }

    #box_delivered p {
        color: #473145;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 1rem;
        padding-left: 25vw;
        position: absolute;
    }

    #box_failed p {
        color: white;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 1.1rem;
        color: var(--color-darktext);
        font-weight: bold;
        text-align: left;
        padding-left: 3vw;
    }

    .back img {
        flex-basis: 100px;
        flex-grow: 1;

        position: absolute;
        background-repeat: no-repeat;
        width: 7vw;
        top: 90px;
        left: 30vw;
    }

    .date {
        flex-basis: 100px;
        flex-grow: 1;

        position: absolute;
        background-repeat: no-repeat;
        width: 20px;
        top: 75px;
        left: 45vw;

        font-family: 'Helvetica Neue', sans-serif;
        font-size: 1.2rem;
        margin-right: 28vw;
        color: white;
    }
}

@media only screen and (max-width: 320px) {

    .headline_time p {
        color: var(--color-darktext);
        font-size: 0.8rem;
        font-family: 'Helvetica Neue', sans-serif;
        position: absolute;
        left: 12vw;
        top: -2.2vw;
    }

    .upload_document p {
        color: var(--color-darktext);
        font-size: 0.9rem;
        font-family: 'Helvetica Neue', sans-serif;
        position: absolute;
        left: 12vw;
        top: -3vw;
    }

}

@media only screen and (max-width: 320px) {
    .lektion_text {
        position: absolute;
        left: 4vw;
        color: var(--color-darktext);
        font-family: 'Helvetica Neue', sans-serif;
    }

    .lektion_text h1 {
        color: white;
        font-size: 0.9rem;
    }

    .lektion_text h2 {
        font-size: 0.7rem;
        position: absolute;
        top: 4.9vw;
        width: 25vw;
        font-weight: normal;
    }

    .lektion_text h3 {
        font-size: 1.5rem;
        position: absolute;
        width: 30vw;
        top: 5vw;
    }
}
